# Windows
Thumbs.db
Desktop.ini
.vs/*

# macOS
.DS_Store

# Vim
*.swp

# Unity
/Library
/Temp
/UnityPackageManager

/Assets/VLC-Unity-Windows/Plugins/**/*.o
/Assets/VLC-Unity-Windows/Plugins/**/*.jar
/Assets/VLC-Unity-Windows/Plugins/**/*.so
/Assets/VLC-Unity-Windows/Plugins/**/*.dll
/Assets/VLC-Unity-Windows/Plugins/**/*.bundle
/Assets/VLC-Unity-Windows/Plugins/**/vlc-4.0.0-dev/*

obj/** 
*.so
*.suo
*.lock
*.ide
*.meta
*.dll
*.log
*.cache
*.pdb

*.csproj
.h