# Windows
Thumbs.db
Desktop.ini
.vs/*

# macOS
.DS_Store

# Vim
*.swp

# Unity
/Library
/Temp
/UnityPackageManager

/Plugin/*.o
/Plugin/*.so
/Plugin/*.dll
/Plugin/*.bundle
/Plugin/vlc-4.0.0-dev/*
obj/** 
*.so
*.suo
*.lock
*.ide
*.meta
*.dll
*.log
*.cache
*.pdb
*.txt
*.csproj
.h