[submodule "VLC-Unity-Wrapper/vlc-android"]
	path = VLC-Unity-Wrapper/vlc-android
	url = https://code.videolan.org/videolan/vlc-android.git
	branch = 3.0.x
[submodule "VLC-Unity-Wrapper/vlc"]
	path = VLC-Unity-Wrapper/vlc
	url = git@gitlab.com:videolabs/vlc.git
	branch = dev/pierre/libvlc_opengl
